<% if current_user %>
  <% if @card %>
    <div class="main-card-item">
      <%= render "review/form", card: @card %>
    </div>
  <% else %>
    <p>Карт на сегодня больше нет!</p>
  <% end %>
<% else %>
  <p>Войдите или зарегистрируйтесь</p>
<% end %>
