# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 32d1cb91df4050d72a51611dab24109e67f329ac602b40f53fbf16c92e3f7c75a2349bbe2b97c801ef2b993bc495c42090ec82025afe8776790f49e2b266bd14
  sorcery_twitter_key: heiAQm4oHQKyLY2n79dfkeQck
  sorcery_twitter_secret: MW9iIYBzNNWbavKZ3Kcfkxrf3CJHT54H9h2fdXtWoQgD5oz0Xo
  aws_access_key_id: AKIAI6I64UK527DISJ5Q
  aws_secret_access_key: 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

test:
  secret_key_base: d9fb5c39842fb4c0575c7ecb33138e6753e41f286a454f714b7338e5d12d6bfb52dc0a25aad5c1470161292e211d64cf905a1d4decdd4f93dcb854b6185d8821

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
