<div class="card-item">
  <div class="review-date">Дата: <%= card.review_date.strftime("%d/%m/%Y") %></div>
  <%= image_tag card.image.url(:thumb) %>
  <%= link_to card.original_text, [@pack, card], class: "original-text", title: "Смотреть" %>
</div>
