<div class="edit-form">
  <%= simple_form_for [@pack, @card], html: { class: "form" } do |f| %>
    <%= f.input :original_text, placeholder: "Слово" %>
    <%= f.input :translated_text, placeholder: "Перевод" %>
    <%= f.button :submit, "Сохранить", class: "button" %>
  <% end %>
</div>
