body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #444;
  line-height: 1.2;
  margin: 20px 0;
  font-weight: normal;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
/* MISC */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns].clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.form {
  .field_with_errors .field {
    border: 1px solid #ff0000;
  }
}
.field {
  border-radius: 2px;
  padding: 3px 8px;
  margin: 5px 0;
  background: #f3f3f3;
  box-shadow: inset 0 1px 2px #bbb;
  border: 1px solid #ddd;
  font-size: 15px;
  width: 100%;
}
.button {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  border-color: #777;
  background: #aaa;
  background: -moz-linear-gradient(top, #aaa 0%, #777 100%);
  background: -webkit-linear-gradient(top, #aaa 0%,#777 100%);
  background: linear-gradient(to bottom, #aaa 0%,#777 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaa', endColorstr='#777',GradientType=0 );
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 0.9em;
  padding: 5px 10px;
  border: 1px solid #777;
}
.green {
  border-color: #469b4e;
  background: #66d582;
  background: -moz-linear-gradient(top, #66d582 0%, #469b4e 100%);
  background: -webkit-linear-gradient(top, #66d582 0%,#469b4e 100%);
  background: linear-gradient(to bottom, #66d582 0%,#469b4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66d582', endColorstr='#469b4e',GradientType=0 );
}
.red {
  border-color: #cf5e36;
  background: #dcb466;
  background: -moz-linear-gradient(top, #dcb466 0%, #cf5e36 100%);
  background: -webkit-linear-gradient(top, #dcb466 0%,#cf5e36 100%);
  background: linear-gradient(to bottom, #dcb466 0%,#cf5e36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcb466', endColorstr='#cf5e36',GradientType=0 );
}
.yellow {
  border-color: #c59a3c;
  background: #e6d43e;
  background: -moz-linear-gradient(top, #e6d43e 0%, #c59a3c 100%);
  background: -webkit-linear-gradient(top, #e6d43e 0%,#c59a3c 100%);
  background: linear-gradient(to bottom, #e6d43e 0%,#c59a3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d43e', endColorstr='#c59a3c',GradientType=0 );
}
.blue {
  border-color: #5985c8;
  background: #82dbeb;
  background: -moz-linear-gradient(top, #82dbeb 0%, #5985c8 100%);
  background: -webkit-linear-gradient(top, #82dbeb 0%,#5985c8 100%);
  background: linear-gradient(to bottom, #82dbeb 0%,#5985c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82dbeb', endColorstr='#5985c8',GradientType=0 );
}
/* header */
.header {
  margin-bottom: 35px;
  background: #f1f1f1;
  height: 100px;
  border-bottom: 6px solid #333;
  .container {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 30px;
    .logo {
      display: block;
      float: left;
      height: 30px;
      width: 235px;
      padding-top: 30px;
      text-decoration: none;
      color: #888;
      font-family: "Times New Roman";
      img {
        height: 30px;
        float: left;
      }
      span {
        font-size: 25px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
    .navigation-links {
      float: right;
      height: 100%;
      a {
        display: inline-block;
        padding: 0 10px;
        text-decoration: none;
        height: 100px;
        line-height: 100px;
        color: #999;
      }
      a:hover {
        background-color: #fff;
      }
    }
    .user-nav {
      a {
        color: #333;
        text-decoration: underline;
      }
    }
  }
}
/* content */
#container {
  margin: 35px auto;
  width: 960px;
  .content {
    overflow: hidden;
  }
  /* card on main page */
  .main-card-item,
  .card-item {
    margin: 0 auto 20px;
    width: 360px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    .review-date {
      text-align: right;
      color: #999;
    }
    img {
      border-radius: 2px;
      width: 360px;
    }
    .original-text {
      background-color: #333;
      color: #fff;
      width: 300px;
      height: 35px;
      text-align: center;
      margin: -4px auto 0;
      line-height: 30px;
      font-size: 20px;
      display: block;
      text-decoration: none;
    }
    .review-form {
      width: 360px;
      margin: 15px auto 0;
      .field {
        width: 240px;
        height: 20px;
      }
    }
  }
  .cards-list {
    margin: 20px 0;
  }
  .card-item {
    width: 210px;
    float: left;
    height: 184px;
    margin: 10px 15px;
    img {
      width: 210px;
    }
    .original-text {
      width: 180px;
      height: 25px;
      line-height: 25px;
      font-size: 15px;
    }
  }
  .card-item.show-card {
    height: 230px;
    .words-wrap {
      text-align: center;
      color: #333;
      margin: 5px 0;
    }
  }
  /* packs */
  .packs-list {
    overflow: hidden;
    .pack-item {
      float: left;
      margin: 0 60px 50px;
    }
  }
  .pack-item {
    width: 360px;
    position: relative;
    img {
      border-radius: 2px;
      width: 360px;
    }
    .pack-item__title {
      background-color: #333;
      color: #fff;
      width: 300px;
      height: 35px;
      text-align: center;
      margin: -4px auto 0;
      line-height: 30px;
      font-size: 20px;
      display: block;
      text-decoration: none;
    }
  }
  .pack-item:after {
    content: "Текущая";
    background: #d9f5ce;
    color: #060;
    border: 1px solid #6dcd72;
    top: 5px;
    right: 0;
    position: absolute;
    padding: 5px 10px;
    visibility: hidden;
  }
  .current.pack-item:after {
    visibility: visible;
  }
}
.edit-form {
  width: 200px;
}
.make-current {
  display: inline-block;
}
/* alert messages */
.alert {
  display: block;
  position: relative;
  background: #f9f9f9;
  margin: 0 0 30px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.alert-success {
  background: #d9f5ce;
  color: #060;
  border: 1px solid #6dcd72;
}
.alert-fail {
  background: #ffdec9;
  color: #761a1a;
  border: 1px solid #d8986e;
}
.alert-notice {
  background: #e1edf9;
  color: #3c3c7c;
  border: 1px solid #acb7e2;
}
